@import "tailwindcss";
@import "tw-animate-css";
@import '../styles/fonts.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-VazirMatn-Regular: 'Vazirmatn Regular';
  --font-VazirMatn-Medium: 'Vazirmatn Medium';
  --font-VazirMatn-Light: 'Vazirmatn Light';
  --font-VazirMatn-Bold: 'Vazirmatn Bold';
  --font-VazirMatn-SemiBold: 'Vazirmatn SemiBold';
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222 47% 11%);
  --primary: hsl(217 91% 60%);
  --secondary: hsl(210 40% 96%);
  --muted: hsl(210 40% 96%);
  --accent: hsl(217 91% 65%);
  --destructive: hsl(0 84% 60%);
  --border: hsl(214 32% 91%);
  --input: hsl(214 32% 91%);
  --ring: hsl(217 91% 60%);
}

.dark {

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
